.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 33em;
  background-color: var(--bgSoft);
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 0.5rem;
}
